.card {
  .card-body.dashboard-card {
    padding: 18px;
    padding-bottom: 20px;
  }
}

.user-group {
  img {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.1s ease-in-out;
    border: 2px solid var(--bs-white);
    + img {
      margin-left: -14px;
    }
    &:hover {
      z-index: 5;
    }
  }
}

.badge-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
// th {
//   cursor: pointer;
//   user-select: none;
//   white-space: nowrap;
// }


.dropdown-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}

.card-body i {
  background: rgba(255, 255, 255, 0.15);
  padding: 8px;
  border-radius: 8px;
}
.custom-primary {
  background-color: #2e354d !important; /* your color */
}
.custom-primaryy {
  background-color: #a1bdac !important; /* your color */
}